<vdr-action-bar>
    <vdr-ab-left>
        <div class="review-info">
            <vdr-entity-info [entity]="entity$ | async"></vdr-entity-info>
        </div>
    </vdr-ab-left>
    <vdr-ab-right>
        <button
            class="btn btn-primary"
            *ngIf="isNew$ | async; else updateButton"
            (click)="create()"
            [disabled]="!(detailForm.valid && detailForm.dirty)"
        >
            {{ 'common.create' | translate }}
        </button>
        <ng-template #updateButton>
            <button
                class="btn btn-primary"
                (click)="save()"
                [disabled]="detailForm.invalid || detailForm.pristine"
            >
                {{ 'common.update' | translate }}
            </button>
        </ng-template>
    </vdr-ab-right>
</vdr-action-bar>

<div class="clr-row">
    <div class="clr-col">
        <form class="form" [formGroup]="detailForm">
            <section class="form-block">
                <vdr-form-field label="Name" for="name" [readOnlyToggle]="!(isNew$ | async)">
                    <input
                        id="name"
                        type="text"
                        formControlName="name"
                    />
                </vdr-form-field>
            </section>
        </form>
    </div>
</div>
