<vdr-action-bar>
    <vdr-ab-left>
        <input
            type="text"
            name="searchTerm"
            [formControl]="filterTermControl"
            [placeholder]="'catalog.filter-by-name' | translate"
            class="clr-input search-input"
        />
    </vdr-ab-left>
    <vdr-ab-right>
        <vdr-action-bar-items locationId="example-list"></vdr-action-bar-items>
        <a class="btn btn-primary" [routerLink]="['./create']">
            <clr-icon shape="plus"></clr-icon>
            <!-- @TODO: translations -->
            <!-- {{ 'customer.create-new-customer' | translate }} -->
            Add New Example
        </a>
    </vdr-ab-right>
</vdr-action-bar>
<vdr-data-table
    [items]="items$ | async"
    [itemsPerPage]="itemsPerPage$ | async"
    [totalItems]="totalItems$ | async"
    [currentPage]="currentPage$ | async"
    (pageChange)="setPageNumber($event)"
    (itemsPerPageChange)="setItemsPerPage($event)"
>
    <vdr-dt-column>Name</vdr-dt-column>
    <vdr-dt-column>Created</vdr-dt-column>
    <vdr-dt-column></vdr-dt-column>

    <ng-template let-example="item">
        <td class="left align-middle">{{ example.name }}</td>
        <td class="left align-middle">
            {{ example.createdAt | date:'mediumDate' }}
        </td>
        <td class="right align-middle">
            <vdr-table-row-action
                iconShape="edit"
                [label]="'common.edit' | translate"
                [linkTo]="['/extensions', 'examples', example.id]"
            ></vdr-table-row-action>
        </td>
    </ng-template>
</vdr-data-table>
